{% extends "layouts/default_layout.jinja" %}
{% import "components/recipes/edit_form.jinja" as edit_form %}

{% block title %}
	<title>Edit Recipe: {{ recipe.name }}</title>
{% endblock %}


{% block contents %}
<article class="no-elevate round responsive max active padding">
{{ edit_form.template(recipe) }}
</article>
{% endblock %}
