<div class="overlay blur active create-recipe-modal"
	hx-on:click="$('.create-recipe-modal').remove()"></div>
<dialog class="active create-recipe-modal">
  <h5>Create Recipe</h5>
  <div>Please name the recipe.</div>
	<form>
		<div class="field border">
			<input name="name" type="text" required>
			<label>Recipe Name</label>
		</div>
		<nav class="right-align no-space">
    	<button class="transparent link" hx-on:click="$('.create-recipe-modal').remove()">Cancel</button>
    	<button class="transparent link" hx-post="/partials/shared/create-recipe" hx-ext="json-enc">Confirm</button>
  	</nav>
	</form>
</dialog>
