{% macro template(recipe) %}
<article class="no-padding">
	{% if recipe.image_url %}
  <img class="responsive large" src="{{ recipe.image_url }}" alt="{{ recipe.name }} image">
	{% else %}
  <img class="responsive large" src="/assets/images/default_meal.jpeg" alt="no image saved">
	{% endif %}
	<div class="padding">
    <h5>{{ recipe.name }}</h5>
    <p class="recipe-card-text-container">{{ recipe.description }}</p>
    <nav>
			<a href="/recipes/{{recipe.id}}" class="button">View</a>
    </nav>
  </div>
</article>
{% endmacro %}
