{% macro template() %}
<article class="no-padding">
  <img class="responsive large" src="/assets/images/default_meal.jpeg">
  <div class="padding">
    <h5>Meal Name</h5>
    <p class="recipe-card-text-container">Meal description will be found here. ihrihqiw qiohdoqw ihqdqdwqodw ojoqwd.</p>
    <nav>
      <button>View</button>
    </nav>
  </div>
</article>
{% endmacro %}
